.rodape{
    background-color: #6278f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 56px;
    background-image: url("/public/imagens/fundo.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.rodape-imagens{
    display: flex;
    gap: 16px;
}

.rodape-titulo{
    color: #ffff;
    font-size: 20px;
}

@media (max-width: 768px) {
    .rodape {
        gap: 35px;
        padding: 24px;
        text-align: center;
        flex-direction: row;
    }

    .rodape img {
        height: 30px;
    }

    .rodape-titulo{
        font-size: 10px;
    }
}


